<%= form_with(model: apikey, local: true) do |form| %>
  <% if apikey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apikey.errors.count, "error") %> prohibited this apikey from being saved:</h2>

      <ul>
        <% apikey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :apikey %>
    <%= form.text_field :apikey %>
  <div class="form-group">
   <%= form.label :country %>
   <%= form.select(:country_id, @country_options) %>
   </div>
   <div class ="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
  </div>
<% end %>
