<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.email %></td>
        <td><%= email.country.name %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %>
